#noose {
    width: 100%;
    height: auto;
}

#placeholders {
    letter-spacing: 7px;
    font-size: 40px;
}

#guessesLeft {
    font-size: 30px;
}

body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    /*font-family: 'Gloria Hallelujah', cursive;*/
    font-family: 'BOOTLE';
    letter-spacing: 5px;
}

@font-face {
    font-family: 'BOOTLE';
    src: url('http://www.fontsaddict.com/fontface/bootle.TTF');
  }